.info_box li{
    display:block;
    text-align: left;
}

.info_box{
    width:25vw;
    min-width:250px;
    margin-left:5%;
    margin-right:5%;
    padding: 20px;
    display:inline-block;
    text-align: center;
}

h1{
    display: block;
}

.input-field{
    font-size:18px;
    padding:10px;
    width:85%;
    margin: 7% auto 0 auto;
}

.info-liste{
    margin-top:10%;
}